@tailwind base;
@tailwind components;
@tailwind utilities;

#send-btn:hover{
    background-color: #ec4899 !important;
}

#chat-box ul {
    list-style-type: disc; 
    padding-left: 20px; 
  }

#chat-box li {
display: list-item;
}
  